/*------------------------------------*\
    BASE
\*------------------------------------*/

html { 
	font-size: 62.5%;
	min-height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit; 
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	@include font-size(1.7);
	color: $colour--grey-dark;
	line-height: 1.6;

	&.nav-open {
		position: fixed;
	    overflow: hidden;
	}
}

.flex {
	@include breakpoint(sm) {
		display: flex;
	}

	&.flex-justify-center {
		justify-content: center;
	}

	&.flex-center {
		align-items: center;
	}

	&.flex-all {
		justify-content: center;
		align-items: center;
		display: flex;
	}
}

.bg-cover {
	background-size: cover;
	background-position: center center
}