/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.btn {
	padding: 15px;
	display: inline-block;
	transition: all ease .3s;
	cursor: pointer;
	text-decoration: none;
	color: white;
	background-color: $colour--red;
	border-radius: 20px;

	&:hover {
		text-decoration: none;
	}
}

.btn--link {
	padding: 0;
	text-decoration: none;

	&:hover {
		text-decoration: underline
	}
}


.btn--next-step {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 10px;

	img {
		width: 25px;
	}
}




