/*------------------------------------*\
    CONTENT
\*------------------------------------*/

.content {
    width: calc(100% - 190px);
    height: calc(100vh - 80px);
    margin: 80px 0 0 190px;
    position: relative;

    background: {
        image: url('../../images/opt/background-photo.jpg');
        size: cover;
        position: center center;
    }
}

.journey-steps {
    width: 100%;
    height: 100%;
    padding: 0 140px;
    position: relative;
    z-index: 20;
}

.journey-step {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all ease .4s;

    &.is-active {
        opacity: 1;
        transition-delay: .4s;
        visibility: visible;
    }

    input {
        width: 400px;
        padding: 20px;
        margin: 20px 0;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(000, 000, 000, .3);
        outline: none;
        display: block;
    }

    [type=submit] {
        width: auto;
        padding: 15px;
        background-color: $colour--red;
        color: white;
    }

    label {
        margin-bottom: -10px;
    }
}

.journey-final__results {
    position: fixed;
    left: 190px;
    top: 70px;
    padding: 20px 14px 80px;
    width: 300px;
    height: 100%;
    background-color: white;
    overflow: auto;
    list-style: none;
    transform: translateX(-100%);
    transition: all ease .3s;
    z-index: 20;

    &.is-active {
        transform: translateX(0);

        li {
            transition: all 800ms cubic-bezier(0.975, -0.005, 0.480, 0.750);
			opacity: 1;
			transform: translateY(0);
			position: relative;
        }
    }

    li {
        transition: all 0.4s cubic-bezier(0.975, -0.005, 0.480, 0.750);
        opacity: 0;
        transform: translateY(30px);

        @for $i from 1 through 30 {
            &:nth-child(#{$i}) {
                transition-delay: $i * (.04s);
            }
        }
    }
}

.journey-final__result {
    height: 110px;
    background-color: $colour--grey-light;
    border-radius: 10px;
    padding: 20px 20px 10px;
    @include font-size(1.4);
    margin-bottom: 10px;

    &.is-active {
        background-color: $colour--blue;
        color: white;
    }

    &:first-child {
        padding-top: 10px
    }
}

.journey-final__result-recommendation {
    color: $colour--red;
    @include font-size(1.2);
    display: block;
}

.journey-final__result-price {
    float: right;
}

.journey-final__result-duration {
    width: 50%;
    display: block;
    float: left;
    @include font-size(1.3);
    color: $colour--red;
}

.journey-final__result-btn {
    @include font-size(1.3);
    background-color: $colour--red;
    color: white;
    padding: 6px 20px;
    border-radius: 20px; 
    float: right;
    margin-top: 10px;
    transition: all ease .3s;

    &:hover {
        text-decoration: none;
        background-color: darken($colour--red, 10%);
    }
}

.journey-final__map-wrapper {
    
    width: calc(100vw - 490px);
    height: 100%;
    position: fixed;
    top: 80px;
    left: 490px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease .4s;
    background-color: #2B2B2B;

    &.is-active {
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
    }
}

.journey-final__map {
    background-image: url('../../images/opt/map.jpg');
    height: 100%;
    width: 100%;
}