/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header {
    width: calc(100vw - 190px);
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
}

.header__usps {
    list-style: none;
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    @include font-size(1.3);

    li {
        padding: 0 20px;
        border-right: 1px solid $colour--red;

        &:last-child {
            border: none;
        }
    }
}

.header__btn {
    position: fixed;
    top: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform .2s ease;

    &:hover {
        transform: scale(1.2);
    }

    img {
        width: 18px;
    }
}

.header__btn--search {
    right: 160px;
}

.header__btn--user {
    right: 110px;
}

.header__nav-icon-wrapper {
    width: 80px;
    height: 80px;
    background-color: $colour--blue;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;

    &:hover {
        .header__nav-icon {
            &:before {
                transform: translateY(-2px);
            }
            &:after {
                transform: translateY(2px);
            }
        }
    }
}

.header__nav-icon {
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
    &:before, &:after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: all ease .2s;
    }

    &:before {
        top: -10px;
    }

    &:after {
        bottom: -10px;
    }
}