/*------------------------------------*\
    SIDEBAR
\*------------------------------------*/

.sidebar {
    width: 190px;
    height: 100vh;
    background-color: $colour--red;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 50;
}

.sidebar__logo {
    width: 100%;
    max-width: 140px;
    margin-top: 10px;
}

.journey-options {
    position: absolute;
    width: 120px;
    height: 600px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;;
    background-color: white;
    transform: translateX(0);
    box-shadow: 2px 2px 10px rgba(000, 000, 000, .3);
    transition: all ease .4s;

    &.is-active {
        transform: translateX(60px);
    }
}

.journey-options__option {
    width: 100%;
    height: 100px;
    background-color: $colour--grey-light;
    list-style: none;
    @include font-size(1.1);
    padding: 20px 0;
    text-transform: uppercase;
    cursor: pointer;
    color: $colour--red;

    &:last-child {
        cursor: initial;
    }

    &:nth-child(even) {
        background-color: white;
    }

    &.is-active {
        background-color: $colour--blue;
        color: white;
    }
}

.journey-options__output {
    display: block;
    margin-top: 10px;

    img {
        height: 24px;
    }
}

